{% extends 'base.html.twig' %}

{% block title %}Uploader{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="container vh-100 d-flex justify-content-center align-items-center flex-column">
        <div class="display-4  mb-5">Database is empty! Upload CSV file.</div>
        {% for flashMessage in app.session.flashbag.get('error') %}
            {{ flashMessage }}
        {% endfor %}
        <form enctype="multipart/form-data" method="post">
            <input type="file" name="csv" id="csv">
            <input type="submit" value="Send">
        </form>
    </div>
{% endblock %}
